<h1>Bask in the Wisdom of Kahless</h1>
<div class="row">
  <div class="span3"></div>
    <div class="span5">
      <h1><%= @quote.text  %></h1>
    </div>
</div>

  <%= button_to "More Wisdom", root_path, class: "btn btn-large btn-primary"  %></br>
  <p>The wisdom of Kahless lives in us all. Add your own wisdom by clicking the button below</p></br>
  <%= button_to "Create Wisdom", new_path, class: "btn btn-large" %>

<h2><%= link_to "Learn the legend of Kahless","http://en.wikipedia.org/wiki/Kahless#History_of_Kahless" %></h2>

