<div class="container">
  <div class="span3"></div>
  <div class="span5">
    <h2><%= @quote.text %></h2>
  </div>


  <div class="container">
    <center>
  <%= button_to "More Wisdom", root_path, class: "btn btn-large btn-primary"  %>
    </center>

  </div>
</div>



