<h1>Bask in the Wisdom of Kahless</h1>
<div class="row">
  <div class="span3"></div>
    <div class="span5">
      <p><%= @quote.text  %></p>
    </div>
</div>
  <%= button_to "More Wisdom", root_path, class: "btn btn-large btn-primary"  %>
<%= link_to "Learn the legend of Kahless","http://en.wikipedia.org/wiki/Kahless#History_of_Kahless" %>

