<div class="container">
  <h3>This drawing was made by my cousin, Carl Jemmett. He's an illustrator and animator with a background in IT.
  You can e-mail him at carlton.jemmett [at] gmail dot com.
  Or check out some of his work <%= link_to " here", "http://cactuscarlton.deviantart.com/" %>.</h3>
</div>
<%= image_tag("kahless3.jpg") %>
