
<% if  @quote.errors.any? %>
  <p>The form contains <%= pluralize(@quote.errors.count, "error") %>

  <ul>
    <% @quote.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>

  </ul>

<% end %>



