
@import "bootstrap";

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid black;
	}

footer a {
	color: #555;
  margin: 25px;
	}

#errorsExplanation {
		width: 300px;
    border: solid red 5px;
  		}

 .container {
     border: black solid 3px;
   }


  .span3 {
    background-image: url('kahless.gif');
    border: 7px solid black;
    border-radius: 5px;
    height: 426px;
    width: 320px;
    margin: 5px;
    }
   
   .span5 {
     background-image: url('background.jpg');
     margin: 5px;
     width: 600px;
     border-radius: 9px;
     margin-top: 75px;
     padding: 50px;
     }
   
   .row {
     margin: 20px;
     margin-top: 70px;
     width: 80%;
     }

