
@import "bootstrap";

body {
  background: #706A7A; 
  margin-top: 50px;
  }

 h1  {
   color: white;
   }

 h3 {
   color: white;
   }


footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid black;
  
	}

footer a  {
	color: white;
  margin: 25px;
  }

footer p {
  color: white;
  }

#errorsExplanation {
		width: 300px;
    border: solid red 5px;
  		}

#errorsExplanation ul {
 color: white;
  
}
#errorsExplanation p {
 color: white;
  
}
 .container {
     margin-top: 60px;
   }



/* styling for the front page */
  .span3 {
   /*  background-image: url('46656.jpg'); */

    background-repeat: no-repeat;
    background-position: center;
   /*  border: 7px solid black; */

    height: 426px;
    width: 320px;
    margin: 5px;
    }

    .span3 img {
       border-radius: 9px;
      
      }
   
   .span5 {
     background-image: url('background.jpg');
     color: black;
     margin: 5px;
     width: 475px;
     height: 175px;
     border-radius: 9px;
     margin-top: 75px;
     padding: 50px;
     }

   .span5 h2 {
     color: black;
     }   

   .row {
     margin: 20px;
     margin-top: 70px;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
     }

  .table {
    background: white;
    border: black solid 3px;
    }
