// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errorsExplanation {
	 height: 100px;
	 width:  300px;
         border: red  2px;	
	}
