<div class="navbar">
  <div class="navbar-inner navbar-fixed-top navbar-inverse">
    <a class="brand" <%= link_to "Wisdom of Kahless", root_path %></a>
    <ul class="nav">
      <li><a <%= link_to "+ your own widsom", new_path %></a></li> 
      <li><%= link_to "Image of Kahless provided by Carl Jemmett", "#" %></li>
      <li><a <%= link_to "The legend of Kahless", "http://en.memory-alpha.org/wiki/Kahless_the_Unforgettable" %></a></li>
    </ul>
  </div>
</div>
