<div class="navbar">
  <div class="navbar-inner navbar-fixed-top navbar-inverse">
    <a class="brand" <%= link_to "Wisdom of Kahless", root_path %></a>
    <ul class="nav">
      <li><a <%= link_to "Create your own widsom", new_path %></a></li> 
      <li><a <%= link_to "The legend of Kahless", "#" %></a></li>
      <li><a class="pull-right" <%= link_to "@chad_jemmett", "http://twitter.com/chad_jemmett" %></a></li>


    </ul>
  </div>
</div>
